@font-face {
  font-family: 'youngserifregular';
  src: local('../fonts/youngserif-regular-webfont.woff2') format('woff2'),
       local('../fonts/youngserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:600,900');

body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff4336;
}

img {
  width: 40px;
  height: 40px;
  padding-right: 30px;
  cursor: pointer;
}

h1 {
  font-size: 6vw;
  font-weight: 900;
  display: inline;
  margin-bottom: 0px;
  margin-top: 40px;
  margin-left: 5vw;
}

h3 {
  font-family: arial;
  color: gray;
  padding-left: 10vw;
  margin-top: 0px;
  display: inline;
  padding-right: 10px;
  margin-bottom: 15vw;
}

.app {
  display: flex;
  justify-content: center;
  width: auto;
}

.nav {
  width: 960px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  display: flex;
  justify-content: center;
}

.nav__title {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0px;
  text-align: center;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.nav__link {
  color: black;
  transition: color 0.5s ease;
  cursor: pointer;
  padding-right: 50px;
}

.nav__link:hover {
  color: yellow;
}

.list--typenone {
  list-style-type: none;
}

.text--bold {
  font-weight: bold;
}

.text--garamond {
  font-family: 'Times New Roman', Times, serif;
}

.emoji--head {
  display: inline-block;
  height: 5.5vw;
  width: auto;
  padding-left: 100px;
}

.main__header {
  display: flex;
  margin-top: 10vw;
}

.board__container {
  position: relative;
  display: block;
  margin: auto;
  height: 465px;
  padding: 0px 0px 60px;
  width: 960px;
  font-size: 30px;
  color: yellow;
}

.board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  line-height: 0;
}